// Colors

:root {
    --main-color: #94725f;
    --gray: #afafaf;
    --gray-light: #E9ECF2;
    --gray-dark: #64696D;
    --purple: #760071;
    --blue: #0071e3;
    --green: #00541e;
    --yellow: #FFB81D;
    --blue-dark: #0159b1;
    --dark-blue: #021530;
}
