.howToUse {
    position: relative;
    overflow: hidden;
    margin-bottom: -40px;

    .sec_title {
        margin: 90px auto 130px;
        width: fit-content; 
        position: relative;
        h2 {
            font-size: 48.799px;
            font-weight: 600;
            letter-spacing: -1.464px;
            margin-bottom: 46px;
        }
        h1 {
            width: 100%;
            max-width: 770px;
        }
        > * {
            position: relative;
            z-index: 1;
        }
        &::after {
            content: "";
            position: absolute;
            left: -33.5%;
            top: -9%;
            width: 148.5%;
            aspect-ratio: 1141/316;
            display: block;
            background-image: url(../images/line-arrow.svg);
            background-position: center;
            background-size: contain;
            z-index: 0;
        }
    }
    .items_list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;
        padding-bottom: 40px;
        li {
            width: 33.333%;
            padding: 0 20px;
            .inner {
                background-color: white;
                display: flex;
                flex-direction: column;
                height: 487px;
                border-radius: 21.294px;
                box-shadow: 0px 3.54903px 17.74513px 0px rgba(0, 0, 0, 0.15);
                padding: 40px 20px 32px;
                cursor: pointer;
                transition: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                &:hover {
                    box-shadow: 0px 3.54903px 30px 0px rgba(0, 0, 0, 0.15);
                    transform: scale(1.03);
                }
            }
            .image {
                height: 246px;
                margin-bottom: 30px;
                img {
                    height: 100%;
                    margin: 0 auto;
                }
            }
            .details {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                text-align: center;
                h3 {
                    font-size: 19.52px;
                    font-weight: 500;
                    line-height: 1.4;
                    letter-spacing: -0.39px;
                    margin: 0 auto;
                }
                .link {
                    margin-top: auto;
                    font-size: 19.52px;
                    font-weight: 400;
                    letter-spacing: -0.39px;
                    color: var(--blue);
                    &:hover {
                        color: #0152a3;
                    }
                }
            }
            // &:first-child {
            //     h3 {
            //         max-width: 217px;
            //     }
            // }
        }
    }
}
@media (min-width: 991px) {
    .howToUse {
        .items_list {
            li {
                .hideDesktop {
                    > div {
                        display: none;
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .howToUse {
        background-color: #fbfbfd;
        .sec_title {
            h2 {
                font-size: 8.333vw;
            }
        }
        .mobileHide {
            display: none !important;
        }
        &::before {
            display: none;
        }
        .items_list {
            row-gap: 30px;
            flex-wrap: nowrap;
            overflow-x: auto;
            margin: 0 -40px;
            padding: 20px 40px 10.417vw;
            &::-webkit-scrollbar {
                display: none;
            }
            li {
                min-width: 80vw;
                width: 80vw;
                padding: 0 3.261vw;
                &:first-child {
                    .image {
                        display: flex;
                        align-items: flex-end;
                        height: 55vw;
                        > div {
                            height: fit-content;
                        }
                        img {
                            height: fit-content;
                            max-width: 60%;
                        }
                    }
                }
                &:nth-child(2) {
                    .details {
                        h3 {
                            max-width: 62%;
                        }
                    }
                }
                &:nth-child(3) {
                    .details {
                        h3 {
                            max-width: 63%;
                            br {
                                display: none;
                            }
                        }
                    }
                }
                .inner {
                    padding: 4.167vw 4.167vw 6.250vw;
                    border-radius: 6.839vw;
                    height: auto;
                    min-height: 96vw;
                }
                .details {
                    h3 {
                        font-size: 4.161vw;
                        max-width: 100%;
                        margin-bottom: 10px;
                        letter-spacing: -0.094vw;
                        // br {
                        //     display: none;
                        // }
                    }
                    .link {
                        font-size: 4.001vw;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1.667vw;
                        letter-spacing: -0.090vw;
                        white-space: nowrap;
                        &::after {
                            content: "";
                            background-image: url("data:image/svg+xml,%3Csvg width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.08203 13.2676L7.12915 7.22046L1.08203 1.17335' stroke='%230071E3' stroke-width='1.72775' stroke-linecap='round'/%3E%3C/svg%3E%0A");
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 2.292vw;
                            height: 3.750vw;
                            flex-shrink: 0;
                            display: inline-block;
                            margin-top: 4px;
                        }
                    }
                }
                .image {
                    height: 52vw;

                    flex-shrink: 0;
                    img {
                        object-fit: contain;
                    }
                }
                .hideDesktop {
                    > div {
                        width: 100%;
                        height: 100%;
                    }
                    > img {
                        display: none;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .howToUse {
        .sec_title {
            > * {
                position: relative;
                z-index: 1;
            }
            &::after {
                left: 1%;
                top: -20%;
                width: calc(100% + 3.29vw * 2);
                aspect-ratio: 479/235;
                background-image: url(../images/line-arrow-mobile.svg);
                background-repeat: no-repeat;
                z-index: 0;
                margin: 0 -3.29vw;
            }
        }
        .items_list {
            margin: 0 -38px;
            padding: 0 38px;
            li {
                .inner {
                    min-height: 60vw;
                }
            }
        }
    }
}
@media (max-width: 576px) {
    .howToUse {
        margin-bottom: 0;
        .sec_title {
            margin: 25.833vw 0 33.958vw;
            h2 {
                font-size: 40px;
                margin-bottom: 20px;
            }
        }
        .items_list {
            // padding-bottom: 13.75vw;
            margin: 0 -3.29px;
            padding: 20px 3.29px;
            li {
                &:first-child {
                    .image {
                        height: 46vw;
                    }
                    .details {
                        h3 {
                            max-width: 92%;
                        }
                    }
                }
                &:nth-child(2) {
                    .details {
                        h3 {
                            max-width: 82%;
                        }
                    }
                }
                &:nth-child(3) {
                    .details {
                        h3 {
                            max-width: 82%;
                        }
                    }
                }
                .inner {
                    min-height: 92vw;
                }
                // .details {
                //     .link {
                //         font-size: 18px;
                //         &::after {
                //             width: 2vw;
                //             height: 3.4vw;
                //         }
                //     }
                // }
                .image {
                    height: auto;
                    height: 42vw;
                    margin-bottom: 20px;
                }
                // .inner {
                //     padding: 8.333vw 4.167vw 6.667vw;
                //     border-radius: 32px;
                //     height: auto;
                // }
            }
        }
    }
}
@media (max-width: 576px) {
    .howToUse {
        position: relative;
        .items_list {
            li {
                min-width: 72vw;
                width: 72vw;
                padding: 0 15px;
                .details {
                    h3 {
                        font-size: 4.679vw;
                        margin-bottom: 0;
                    }
                    .link {
                        font-size: 4.499vw;
                    }
                }
            }
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-image: url("data:image/svg+xml,%3Csvg width='479' height='2' viewBox='0 0 479 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='-1' y1='1' x2='479' y2='0.999958' stroke='%23BDBDBD' stroke-width='2' stroke-dasharray='11 11'/%3E%3C/svg%3E%0A");
        }

        .sec_title {
            h2 {
                font-size: 8.333vw;
            }
            h1 {
                padding: 0 4px;
            }
        }
    }
}
