.product_models {
    padding: 110px 0 104px;
    overflow: hidden;
    position: relative;
    .wrapper {
        max-width: 862px;
        margin: 0 auto;
    }
    .sec_title {
        text-align: center;
        max-width: 636px;
        margin: 0 auto;
        padding-bottom: 83px;
        .icon {
            display: inline-block;
        }
        h2 {
            font-size: 33.716px;
            font-weight: 500;
            letter-spacing: -0.674px;
        }
    }
    .items_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 69px 48px;
        .item {
            h3 {
                font-size: 29.279px;
                font-weight: 500;
                margin-bottom: 11px;
            }
            .image {
                img {
                    width: 100%;
                }
            }
        }
    }
    .content_block {
        margin-top: 197px;
        padding: 0 25px;

        .wrap {
            position: relative;
            border-radius: 34px;
            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 230px;
                display: block;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 75.87%);
            }
        }
        .content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            padding: 53px 0;
            z-index: 2;
        }
        h3 {
            font-size: 53.235px;
            font-weight: 600;
            letter-spacing: -1.597px;
            line-height: 120.023%;
            color: white;
            span {
                color: #fbbc05;
            }
        }
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-image: url("data:image/svg+xml,%3Csvg width='1280' height='3' viewBox='0 0 1280 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1.5' x2='1280' y2='1.5' stroke='%23D9D9D9' stroke-width='3' stroke-dasharray='14 14'/%3E%3C/svg%3E%0A");
    }
}
@media (min-width: 991px) {
    .product_models {
        .content {
            .hideDesktop {
                display: none;
            }
        }
        .mobile_image {
            display: none;
        }
        .desktopHide {
            display: none !important;
        }
    }
}
@media (max-width: 991px) {
    .product_models {
        padding-bottom: 6.25vw;
        background-color: #FBFBFD;
        .mobileHide {
            display: none !important;
        }
        .items_list {
            display: block;
            width: 100%;
            margin-bottom: 17.5vw;
            .item {
                margin-bottom: 60px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .content_block {
            padding: 0;
            margin: 0 -100px;
            margin-top: 12.5vw;
            background-color: black;
            .wrap {
                border-radius: 0;
                &::after {
                    display: none;
                }
            }
            .image {
                position: relative;
                img {
                    min-width: 130%;
                    margin-left: -14%;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 230px;
                    display: block;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 75.87%);
                }
            }
            .content {
                padding: 24px 20vw;
                padding-top: 0;
                position: static;
                color: white;
                h3 {
                    font-size: 7.394vw;
                    margin-bottom: 20px;
                }
                p {
                    font-size: 4.444vw;
                    font-weight: 500;
                    color: #aeaeae;
                    letter-spacing: -0.64px;
                }
            }
            .mobile_image {
                position: relative;
                z-index: 1;
                padding-left: 24px;
                img {
                    width: 100%;
                }
            }
        }
        .sec_title {
            .icon {
                margin-bottom: 40px;
            }
            h2 {
                margin-bottom: 34px;
            }
            .text1 {
                color: rgba(90, 0, 86, 0.86);
            }
        }
        .contactUs {
            text-align: center;
            h3 {
                font-size: 4.679vw;
                font-weight: 500;
                margin-bottom: 3.438vw;
                span {
                    display: block;
                }
            }
            .btn {
                border: 0.313vw solid #0071e3;
                color: #0071e3;
                font-size: 4.679vw;
                gap: 2.500vw;
                svg {
                    width: 1.875vw;
                    height: auto;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .product_models {
        padding-top: 12.5vw;
    }
}
@media (max-width: 576px) {
    .product_models {
        .sec_title {
            h2 {
                font-size: 5.625vw;
                font-weight: 600;
                letter-spacing: -0.54px;
            }
        }
        .items_list {
            .item {
                h3 {
                    font-size: 5.833vw;
                    font-weight: 700;
                }
            }
        }
        .content_block {
            .content {
                position: relative;
                z-index: 1;
                margin-top: -15vw;
                h3 {
                    font-size: 11.092vw;
                }
                p {
                    font-size: 6.667vw;
                    max-width: 79%;
                    margin: 0 auto;
                }
            }
        }
    }
}
