.product_features {
    padding: 162px 0 129px;

    .sec_title {
        text-align: center;
        padding-bottom: 117.33px;

        .logo {
            display: inline-block;
            width: 202.67px;
            margin-bottom: 28px;
        }

        h1 {
            font-size: 72.889px;
            font-weight: 600;
            line-height: 1.2;
            letter-spacing: -2.187px;
            margin-bottom: 33px;
        }

        p {
            font-size: 26.667px;
            font-weight: 600;
            line-height: 1.27;
            color: var(--gray-dark);
            margin-bottom: 68px;

            span {
                color: black;
            }
        }

        h3 {
            font-size: 26.667px;
            font-weight: 600;
        }
    }

    .feature_items {
        .wrapper {
            flex-wrap: nowrap;
            gap: 22.22px;
        }

        .item {
            display: flex;
            justify-content: space-between;
            border-radius: 28.444px;
            overflow: hidden;
            position: relative;
            margin-bottom: 22.22px;

            &:not(.single) {
                height: 613.493px;
            }

            .content {
                padding-left: 50.67px;
                position: relative;
                z-index: 2;
            }

            .image {
                width: 331.5px;
                flex-shrink: 0;
            }

            h3 {
                font-size: 41.778px;
                font-weight: 600;
                line-height: 1.18;
                letter-spacing: -0.836px;
            }

            .plus_btn {
                position: absolute;
                padding: 0;
                right: 18px;
                bottom: 18px;
                z-index: 10;
                transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

                img {
                    transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
                }

                &.opened {
                    img {
                        transform: rotate(45deg);
                    }
                }
            }

            .hidden_content {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 3;
                color: white;
                padding: 35px;
                opacity: 0;
                visibility: hidden;
                transform: scale(0.7);
                text-align: left;
                transition: 0.15s cubic-bezier(0.19, 1, 0.22, 1);

                h3 {
                    font-size: 36px !important;
                    font-weight: 500 !important;
                    color: white !important;
                    margin-bottom: 16px;
                }

                p {
                    font-size: 20px !important;
                    color: white !important;
                    line-height: 1.4;
                }
            }

            &.opened {
                .hidden_content {
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                }
            }

            &.item1 {
                background: #f0fbff;
                align-items: center;

                .content {
                    margin-top: -8px;
                    max-width: 250px;
                }

                h3 {
                    color: #002868;
                    span {
                        color: var(--blue);
                    }
                }

                .plus_btn {
                    filter: invert(100%) sepia(8%) saturate(0%) hue-rotate(166deg) brightness(107%) contrast(109%);
                }

                .hidden_content {
                    background-color: #002868;
                }
            }

            &.item2 {
                text-align: center;
                align-items: center;
                background-color: #c3f5d2;

                h3 {
                    span {
                        color: #157c00;
                    }
                }

                .content {
                    padding: 0 60px !important;
                    height: fit-content;
                }

                .bg_img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #c3f5d2;
                    display: flex;
                    align-items: center;
                    z-index: 1;

                    img {
                        width: 100%;
                    }
                }

                .hidden_content {
                    background-color: #409a34;
                }

                &.opened {
                    .plus_btn {
                        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(155deg)
                            brightness(105%) contrast(106%);
                    }
                }
            }

            &.item3 {
                background-image: url(../images/feature-3-bg.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 380px;
                align-items: center;

                h3 {
                    max-width: 356px;

                    span {
                        color: #830599;
                    }
                }

                .image {
                    width: 100%;
                    max-width: 496px;
                    margin-right: 35px;
                }

                .hidden_content {
                    background-color: #9e3fae;
                }

                &.opened {
                    .plus_btn {
                        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(155deg)
                            brightness(105%) contrast(106%);
                    }
                }
            }

            &.item4 {
                height: 613.5px;
                background: #e4f2eb;
                flex-direction: column;

                h3 {
                    span {
                        color: #155e40;
                    }
                }

                .content {
                    padding-top: 56px;
                }

                .image {
                    position: relative;
                    margin: 0 auto;
                    width: 381px;

                    .warning_bar {
                        position: absolute;
                        left: 45%;
                        transform: translateX(-50%);
                        bottom: 87px;
                        padding: 16px 17px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        background: #155e49;
                        border-radius: 14.222px;
                        width: 381px;
                    }

                    p {
                        font-size: 19.556px;
                        font-weight: 500;
                        line-height: 118.023%;
                        color: white;
                        margin-top: -2px;
                    }

                    > img {
                        max-width: 338px;
                        margin-left: 30px;
                    }
                }

                .hidden_content {
                    background-color: #155e49;
                }

                &.opened {
                    .plus_btn {
                        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(155deg)
                            brightness(105%) contrast(106%);
                    }
                }
            }

            &.item5 {
                height: 613.5px;
                align-items: center;
                background: linear-gradient(141deg, #1c80f3 17.41%, #1ab7f9 86.28%);

                .plus_btn {
                    filter: invert(100%) sepia(8%) saturate(0%) hue-rotate(166deg) brightness(107%) contrast(109%);
                }

                .content {
                    max-width: 250px;
                    margin-top: -8px;

                    h3 {
                        color: white;
                    }
                }

                .icon {
                    position: relative;
                    width: 64px;
                    height: 54px;
                    overflow: hidden;
                    margin-bottom: 7px;

                    > * {
                        display: block !important;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        transition: 1s ease-in-out;
                        transform: translateY(-100%);

                        &.active {
                            opacity: 1 !important;
                            transform: translateY(0);
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .chng_text {
                    color: black;
                    height: 98px;
                    position: relative;
                    overflow: hidden;

                    .type3 {
                        color: #ffe500;
                    }

                    > * {
                        display: block !important;
                        opacity: 0 !important;
                        position: absolute;
                        left: 0;
                        top: 0;
                        transition: 0.4s;

                        &.active {
                            opacity: 1 !important;
                        }
                    }
                }

                .hidden_content {
                    background-color: #628bb4;
                }
            }

            &.item6 {
                align-items: center;
                height: 484px;
                background: #fff7f7;

                .content {
                    max-width: 450px;
                }

                h3 {
                    margin-bottom: 26px;

                    span {
                        color: #ad0718;
                    }
                }

                p {
                    max-width: 341px;
                    font-size: 27.556px;
                    font-weight: 500;
                    line-height: 1.18;
                    color: #924b4b;
                }

                .image {
                    width: 100%;
                    max-width: 492px;
                    margin-right: 59px;
                    margin-bottom: -38px;

                    img {
                        max-width: 90%;
                        margin: 0 auto;
                    }
                }

                .hidden_content {
                    background-color: #8c5c5c;
                }

                &.opened {
                    .plus_btn {
                        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(155deg)
                            brightness(105%) contrast(106%);
                    }
                }
            }

            &.item7 {
                height: 613px;
                background: linear-gradient(155deg, #245d41 23.68%, #199c57 100%);

                h3 {
                    span {
                        color: #92ffc6;
                    }
                }

                .content {
                    max-width: fit-content;
                    padding-left: 50px;
                    margin-top: -17px;
                }

                .icon {
                    width: 76px;
                    height: 76px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #07381e;
                    border-radius: 50%;
                    position: relative;
                    margin-bottom: 12px;

                    img {
                        width: 34px;
                    }

                    > * {
                        transition: 0s;
                        width: fit-content;
                        height: fit-content;
                        top: 50%;
                        left: 50%;
                        bottom: auto;
                        transform: translate(-50%, -50%) !important;
                    }
                }

                .hidden_content {
                    background-color: #92ffc6;

                    h3 {
                        color: black !important;
                    }

                    p {
                        color: black !important;
                    }
                }

                &.opened {
                    .plus_btn {
                        filter: brightness(0) saturate(100%) invert(0%) sepia(6%) saturate(26%) hue-rotate(227deg)
                            brightness(107%) contrast(107%);
                    }
                }
            }

            &.item8 {
                height: 613px;
                background: #eff1f4;

                .content {
                    padding-left: 51.67px;
                    margin-top: -44px;
                    align-self: center;

                    h3 {
                        font-weight: 600;
                        letter-spacing: -0.836px;
                        line-height: 1.18;

                        .black {
                            color: black;
                        }

                        .blue {
                            color: #1962b2;
                        }

                        .light {
                            color: #666;
                            font-weight: 400;
                        }
                    }
                }

                .image {
                    width: 220px;
                    align-self: flex-end;
                    margin-right: 91px;
                }

                .hidden_content {
                    background-color: #8d8d8d;
                }

                &.opened {
                    .plus_btn {
                        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(155deg)
                            brightness(105%) contrast(106%);
                    }
                }
            }
        }
    }

    .col {
        width: 100%;
    }

    .col_7 {
        width: 67%;
    }

    .col_3 {
        width: 33%;
    }

    .col_5 {
        width: 54.3%;
    }

    .col_4 {
        width: 45.7%;
    }

    .col_1 {
        width: 39.4%;
    }

    .col_2 {
        width: 61.6%;
    }
}

@media (min-width: 991px) {
    .product_features {
        .sec_title {
            h1 {
                br {
                    &.dNone {
                        display: none;
                    }
                }
            }
        }
        .feature_items {
            .item {
                .image {
                    .mobile {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .product_features {
        overflow: hidden;
        padding: 116px 10px 86px;

        .sec_title {
            padding-bottom: 77px;

            .logo {
                max-width: 150px;
            }

            h1 {
                font-size: 11vw;
                margin-bottom: 36px;
                line-height: 1.1;
                // br {
                //     display: none;
                // }
            }

            p {
                font-size: 4.5vw;
                margin-bottom: 28px;

                br {
                    display: none;
                }
            }

            h3 {
                font-size: 23px;
            }
        }

        .col {
            width: 100% !important;
        }

        .feature_items {
            .wrapper {
                flex-wrap: wrap;
                gap: 0;

                &.mobile_reverse {
                    flex-direction: column-reverse;
                }
            }

            .item {
                width: 100%;
                height: fit-content !important;
                margin-bottom: 24px;
                align-items: flex-start !important;
                flex-direction: column;

                .plus_btn {
                    img {
                        width: 37px;
                    }
                }

                .content {
                    h3 {
                        font-size: 7.92vw;
                    }
                }

                .hidden_content {
                    padding: 35px 25px;
                    overflow-y: auto;
                }

                &.item1 {
                    padding-top: 67px;
                    .content {
                        width: 100%;
                        max-width: 83%;
                        margin-bottom: 16.3%;
                        h3 {
                            color: #002868;
                        }
                    }
                    .image {
                        margin: 0 auto;
                        width: 100%;
                        max-width: 76%;
                    }

                    .plus_btn {
                        filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(308deg)
                            brightness(99%) contrast(101%);

                        &.opened {
                            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
                                hue-rotate(151deg) brightness(100%) contrast(110%);
                        }
                    }
                }

                &.item2 {
                    padding-top: 67px;
                    justify-content: center;
                    padding: 50% 0 !important;
                    height: fit-content !important;
                }

                &.item3 {
                    padding-top: 67px;
                    gap: 0;

                    .image {
                        width: 100%;
                        max-width: 100%;
                        margin-right: 0;
                        padding: 16px;
                        padding-bottom: 33px;
                        img {
                            width: 100%;
                        }
                    }

                    .content {
                        width: 100%;
                        max-width: 100%;
                        margin-bottom: 22%;
                        h3 {
                            max-width: 100%;
                            span {
                                display: block;
                            }
                        }
                    }
                }

                &.item4 {
                    position: relative;
                    gap: 0;
                    padding-top: 67px;

                    .image {
                        position: static;
                        width: 100%;

                        .warning_bar {
                            left: 22px;
                            right: 22px;
                            width: auto;
                            bottom: 82px;
                            transform: unset;
                            padding: 3%;

                            p {
                                font-size: 4.2vw;
                            }
                            img {
                                width: 46px;
                            }
                        }

                        > img {
                            width: 380px;
                            margin: 0 auto;
                            padding-left: 12%;
                        }
                    }
                    .content {
                        padding-top: 0;
                        margin-bottom: 77px;
                    }
                }

                &.item5,
                &.item7 {
                    justify-content: center;

                    .content {
                        padding-left: 30px;
                    }
                }

                &.item5.item7 {
                    .content {
                        width: 100%;
                        max-width: 100% !important;
                    }
                }

                &.item5 {
                    padding: 34% 0 !important;
                    .content {
                        max-width: 60% !important;
                        h3 {
                            max-width: 100% !important;
                        }
                    }
                }

                &.item6 {
                    padding-top: 68px;
                    padding-bottom: 50px;
                    gap: 0 !important;

                    .content {
                        max-width: 90% !important;
                        margin-bottom: 40px;

                        h3 {
                            margin-bottom: 16px;
                        }

                        p {
                            font-size: 24.003px;
                        }
                    }

                    .image {
                        width: 100%;
                        max-width: 100%;
                        margin-bottom: 0;
                        margin-right: 0;
                        padding: 0 5%;
                        img {
                            max-width: 100%;
                        }
                    }
                }

                &.item8 {
                    padding-top: 52px;

                    .content {
                        align-self: flex-start;
                        margin-bottom: 9.5%;
                    }

                    .image {
                        width: 45%;
                        margin: 0 auto;
                    }
                }

                .desktop {
                    display: none;
                }

                .content {
                    padding-left: 30px !important;
                    margin-top: 0 !important;

                    h3 {
                        letter-spacing: -0.76px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .product_features {
        .feature_items {
            .item {
                &.item1 {
                    .content {
                        max-width: 90%;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .product_features {
        .feature_items {
            .item {
                &.item1 {
                    .content {
                        padding-top: 0;
                    }
                }
                &.item3 {
                    h3 {
                        max-width: 90%;
                    }

                    .image {
                        padding-top: 0;
                    }
                }
                &.item5 {
                    .content {
                        padding-top: 20px !important;
                    }
                }
                &.item6 {
                    gap: 40px;
                }
            }
        }
        .feature_items {
            .item {
                border-radius: 30px;

                &.item3 {
                    .image {
                        max-width: 100%;
                    }
                }

                &.item4 {
                    .image {
                        > img {
                            max-width: 90%;
                        }

                        .warning_bar {
                            p {
                                line-height: 1.3;
                            }
                        }
                    }
                }

                &.item5 {
                    .content {
                        padding-left: 20px !important;
                        padding-top: 0 !important;

                        h3 {
                            width: 100%;
                            max-width: 65%;
                        }
                    }
                    .chng_text {
                        height: 79px;
                    }
                    .icon {
                        width: 60px;
                        height: 60px;
                    }
                }

                &.item6 {
                    .image {
                        margin-right: 0;
                        padding: 0 20px;

                        img {
                            max-width: 100%;
                        }
                    }

                    .content {
                        max-width: 249px;

                        p {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 390px) {
    .product_features {
        padding: 77px 0 50px;

        .sec_title {
            .logo {
                max-width: 101px;
                margin-bottom: 20px;
            }

            h1 {
                margin-bottom: 23px;
            }

            p {
                margin-bottom: 23px;
            }
        }

        .feature_items {
            .item {
                border-radius: 20px;
                .content {
                    padding-left: 20px !important;
                }
                .hidden_content {
                    padding: 26px 20px;
                    h3 {
                        font-size: 26px !important;
                    }
                    p {
                        font-size: 16px !important;
                    }
                }
                .plus_btn {
                    img {
                        width: 25px;
                    }
                }
                &.item1,
                &.item3,
                &.item4,
                &.item6 {
                    padding-top: 44px;
                }
                &.item5 {
                    .chng_text {
                        height: 66px;
                    }
                }
                &.item8 {
                    padding-top: 34px;
                }
                &.item3 {
                    .image {
                        max-width: 95%;
                    }
                }

                &.item4 {
                    .image {
                        > img {
                            max-width: 90%;
                        }

                        .warning_bar {
                            bottom: 54px;
                            padding: 13px;

                            img {
                                width: 30px;
                            }
                        }
                    }
                }

                &.item5 {
                    .content {
                        padding-left: 20px !important;
                        padding-top: 0 !important;

                        h3 {
                            width: 100%;
                            max-width: 65%;
                        }
                    }

                    .icon {
                        width: 50px;
                        height: 50px;
                    }
                }

                &.item6 {
                    padding-bottom: 30px;
                    .image {
                        margin-right: 0;
                        padding: 0 20px;

                        img {
                            max-width: 100%;
                        }
                    }

                    .content {
                        max-width: 249px;

                        p {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
