.tecnoBlog {
    padding-top: 114px;
    padding-bottom: 65px;
    padding-left: 20px;
    margin-bottom: 95px;
    position: relative;

    .sec_title {
        text-align: left;
        margin-bottom: 44px;
        h1 {
            font-size: 40.814px;
            font-weight: 700;
        }
    }
    .accardion_item {
        background: #f5f5f7;
        border-radius: 32px;
        width: fit-content;
        &:not(:last-child) {
            margin-bottom: 17px;
        }
        .head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 11.5px 29px;
            width: fit-content;
            gap: 24px;
            cursor: pointer;
            &.opened {
                color: #5a0056;
                &::after {
                    transform: rotate(-90deg);
                    margin-left: 130px;
                }
            }
            span {
                font-size: 23.069px;
                font-weight: 600;
            }
            &::after {
                content: "";
                width: 18px;
                height: 32px;
                background-image: url(../images/arrow-right0.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                display: block;
                flex-shrink: 0;
                margin-right: 6px;
                transform: rotate(90deg);
                transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
                filter: brightness(0) saturate(100%) invert(88%) sepia(0%) saturate(5090%) hue-rotate(358deg)
                    brightness(93%) contrast(77%);
            }
        }
        .body {
            padding: 20px 28px;
            padding-top: 23px;
            padding-bottom: 34px;
            display: none;
            p {
                font-size: 18px;
                font-weight: 500;
                letter-spacing: -0.461px;
                &:not(:last-child) {
                    margin-bottom: 26px;
                }
                strong {
                    font-weight: 700;
                }
                span {
                    color: #0050c9;
                    font-weight: 400;
                }
                a {
                    color: #0050c9;
                    &:hover {
                        color: #033c92;
                    }
                }
            }
            .list {
                p {
                    margin-bottom: 0;
                }
                ul {
                    padding-left: 34px;
                    li {
                        font-size: 18px;
                        font-weight: 500;
                        list-style: disc;
                        letter-spacing: -0.461px;
                    }
                }
            }
        }
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-image: url("data:image/svg+xml,%3Csvg width='1280' height='3' viewBox='0 0 1280 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1.5' x2='1280' y2='1.5' stroke='%23D9D9D9' stroke-width='3' stroke-dasharray='14 14'/%3E%3C/svg%3E%0A");
    }
}
@media (max-width: 991px) {
    .tecnoBlog {
        padding-left: 0;
        padding-top: 8.333vw;
        padding-bottom: 4.583vw;
        margin-bottom: 10.417vw;
        position: relative;
        .sec_title {
            margin-bottom: 6.875vw;
            h1 {
                font-size: 9.584vw;
            }
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-image: url("data:image/svg+xml,%3Csvg width='479' height='2' viewBox='0 0 479 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='-1' y1='1' x2='479' y2='0.999958' stroke='%23BDBDBD' stroke-width='2' stroke-dasharray='11 11'/%3E%3C/svg%3E%0A");
        }
        .container {
            padding: 0 14px;
        }
        .accardion_item {
            border-radius: 6vw;
            .head {
                padding: 2.5vw 3.75vw;
                span {
                    font-size: 4.454vw;
                }
                &::after {
                    width: 3.75vw;
                    height: 3.958vw;
                }
                &.opened {
                    &::after {
                        margin-left: 0;
                    }
                }
            }
            .body {
                padding: 2.083vw 3.75vw;
                p {
                    font-size: 4.375vw;
                }
                .list {
                    ul {
                        li {
                            font-size: 4.806vw;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 576px) {
    .tecnoBlog {
        padding-bottom: 17.292vw;
        .accardion_item {
            &:not(:last-child) {
                margin-bottom: 2.5vw;
            }
            .head {
                padding: 2.5vw 3.75vw;
                span {
                    font-size: 4.454vw;
                }
                &::after {
                    width: 3.75vw;
                    height: 3.958vw;
                }
            }
            .body {
                padding: 10px 4.063vw;
                p {
                    font-size: 4.375vw;
                    &:not(:last-child) {
                        margin-bottom: 7.188vw;
                    }
                }
                .list {
                    ul {
                        li {
                            font-size: 4.375vw;
                        }
                    }
                }
            }
        }
    }
}
