.what_is_takograf {
    padding-bottom: 95px;
    .wrapper {
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        position: relative;
        align-items: center;
        background-image: url(../images/shape.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 14.215px;
        height: 384px;
        padding: 70px 92px 59px 83px;
    }
    .content {
        max-width: 425px;
        padding-left: 54px;
        padding-top: 16px;
        h1 {
            font-size: 48.89px;
            font-weight: 400;
            line-height: 1.35;
            font-family: "Delius";
        }
    }
    .image {
        max-width: 425px;
        position: relative;
        width: fit-content;
        margin-left: -50px;
        padding-right: 45px;
        img {
            margin-top: 24px;
            min-width: 120%;
            position: relative;
            z-index: 2;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 14%;
            left: 11%;
            width: 91%;
            height: 7px;
            border-radius: 421px;
            background: #d9d9d9;
            box-shadow: 0px 4px 18px 0px #000;
            z-index: 1;
            display: block;
        }
    }
    .col-5 {
        width: 50%;
    }
    .play_btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        z-index: 3;
        &:hover {
            transform: translateX(-50%) scale(1.1);
        }
        svg {
            display: block;
        }
    }
}
@media (max-width: 991px) {
    .what_is_takograf {
        padding-bottom: 0;
        .wrapper {
            height: fit-content;
            padding: 36px 10px;
        }
        .content {
            padding-right: 45px;
            padding-left: 0;
            margin-left: -10px;
            padding-top: 8px;
            h1 {
                font-size: 28px;
                max-width: 120px;
            }
        }
        .play_btn {
            svg {
                width: 63.5px;
            }
        }
        .image {
            margin-left: 0;
            img {
                margin-top: 0;
                min-width: 100%;
            }
            &::after {
                width: 71%;
            }
        }
    }
}
@media (max-width: 576px) {
    .what_is_takograf {
        .content {
            max-width: 33%;
            padding-right: 0;
            margin-right: 3%;
            h1 {
                font-size: 6vw;
                max-width: fit-content;
            }
        }
        .image {
            max-width: 53%;
            padding-right: 0;
        }
        .play_btn {
            padding: 0;
            svg {
                width: 13.25vw;
                height: auto;
            }
        }
    }
}
