.site_header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(10px);
    transition: 0.2s;
    border-bottom: 0.889px solid rgba(255, 255, 255, 0.15);
    &.nav-up {
        top: -99px;
    }
    &.nav-down {
        top: 0;
    }
    &.scroll_down {
        top: 0;
        .menu {
            .nav_item {
                &.active {
                    .nav_link {
                        color: white !important;
                        -webkit-text-stroke: thin;
                    }
                }
            }
            .nav_link {
                color: white !important;
                &:hover {
                    color: white !important;
                    -webkit-text-stroke: thin;
                }
            }
        }
    }
    &.dark {
        .menu {
            .nav_item {
                &.active {
                    .nav_link {
                        color: black !important;
                        -webkit-text-stroke: thin;
                    }
                }
            }
            .nav_link {
                color: #2a2a2a !important;
                &:hover {
                    color: black !important;
                    -webkit-text-stroke: thin;
                }
            }
        }
    }
    .wrapper {
        flex-wrap: nowrap;
        align-items: center;
    }
    .site_logo {
        display: inline-block;
        img {
            width: 159.11px;
        }
    }
    .menu {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 30px;
        gap: 12px;
        .nav_link {
            display: block;
            font-size: 16px;
            font-weight: 500;
            padding: 16.18px 20px;
            color: var(--gray);
        }
        .nav_item {
            &.active {
                .nav_link {
                    color: white;
                }
            }
            &:not(.active):hover {
                .nav_link {
                    color: white;
                }
            }
        }
    }
    .try_free_btn {
        margin-right: 17px;
    }
}
.mobile_menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.35s;
    opacity: 0;
    visibility: hidden;

    &.opened {
        opacity: 1;
        visibility: visible;

        .inner {
            transform: translateX(0%);
        }
    }

    .inner {
        width: 300px;
        max-width: 95%;
        height: 100%;
        background-color: white;
        transform: translateX(-100%);
        transition: all 0.35s;
    }
    .top {
        position: relative;
        text-align: center;
        padding: 10px;

        .close_btn {
            position: absolute;
            left: 10px;
            top: 10px;
        }

        .logo {
            display: inline-block;
            width: 150px;
            img {
                width: 100%;
            }
        }
    }
    .center {
        height: 100%;
    }
    .search_bar {
        position: relative;
        margin: 0 10px;
        .form_wrap {
            display: flex;
            align-items: center;
        }
        button {
            color: currentColor;
            position: absolute;
            right: 12px;
        }
        svg {
            width: 20px;
            height: auto;
            path {
                fill: currentColor;
            }
        }
        input {
            width: 100%;
            height: 40px;
            padding: 12px;
            border-radius: 6px;
            border: 1px solid var(--main-color);
        }
    }
    .menu {
        margin-top: 16px;
        font-size: 19px;
        font-weight: 600;
        position: relative;
        height: 100%;
        overflow: hidden;

        .nav_link {
            font-size: 19px;
            font-weight: 500;
            padding: 10px 15px;
            color: var(--bg-color);

            .arrow_right {
                width: 19px;
                height: 27px;
                transform: rotate(180deg);
            }
        }

        .dropdown {
            .nav_link {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .dropdown_menu {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 3;
            background-color: white;
            width: 100%;
            height: 100%;
            transform: translateX(120%);
            transition: all 0.35s;

            a {
                display: block;
                padding: 10px 15px;
                color: var(--text-color);
            }

            &.opened {
                transform: translateX(0%);
            }
        }

        .back_btn {
            display: flex;
            align-items: center;
            gap: 6px;
            cursor: pointer;
            padding: 10px;
            font-size: 16px;

            img {
                width: 24px;
                height: 24px;
            }
        }

        a {
            display: block;
            color: currentColor;
        }
    }
    .action_list {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
        .action_item {
            width: 100%;
        }
    }
}

@media (min-width: 991px) {
    .mobile_menu {
        display: none;
    }
    .site_header {
        .toggle {
            display: none;
        }
        .site_logo {
            .dark_logo {
                display: none;
            }
        }
        &.dark {
            .site_logo {
                .light_logo {
                    display: none;
                }
                .dark_logo {
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .site_header {
        padding: 10px 0;
        top: -82px;
        .site_logo {
            margin-right: auto;
            .dark_logo {
                display: block;
            }
            .light_logo {
                display: none;
            }
        }
        .menu {
            display: none;
        }
        .toggle {
            margin-right: 8px;
        }
        .try_free_btn {
            font-size: 15.11px;
            padding: 1.3vw 3vw;
        }
    }
}
@media (max-width: 576px) {
    .site_header {
        padding: 1.875vw 2px;
        border-bottom: 0.667px solid #dfe3e8;
        &.nav-down {
            border-color: #dfe3e821;
        }
        .try_free_btn {
            font-size: 3.541vw;
            padding: 1.875vw 4vw;
            margin-left: auto;
            margin-right: 3.75vw;
            letter-spacing: 0;
        }
        .site_logo {
            width: 37.708vw;
            img {
                width: 100%;
            }
        }
        .toggle {
            width: 6.25vw;
            margin-right: 0;
            svg {
                width: 100%;
                height: auto;
            }
        }
    }
}
